---
title: 'Title'
description: ''
pageClass: '_page-example'
---
{% from "components/example.twig" import example as exampleComponent %}

{% extends "layouts/layout.twig" %}


{% block content %}

    {# ENV #}
    <div>
        {% if NODE_ENV == 'development' %}
            <strong style="font-size: 30px;">
                Env: {{ NODE_ENV }}
            </strong>
        {% endif %}
    </div>
    <div>
        {% if not IS_SERVER %}
            <strong style="font-size: 30px;">
                SERVER: {{ IS_SERVER }}
            </strong>
        {% endif %}
    </div>

    {# COMPONENT / LOOP #}
    {% for item in exampleItems %}
        {{
            exampleComponent({
                title: item.title,
                text: item.text
            })
        }}
    {% endfor %}

    {# RANGE LOOP #}
    {% for num in range(1, 5) -%}
        <span>{{ loop.index }}/{{ loop.length }}{% if not loop.last %}, {% endif %}</span>
    {%- endfor %}

    {# INLINE SVG #}
    <div style="width: 260px;">
        {{ mx.svg('rotate_device') }}
    </div>
    <div style="width: 70px;">
        {{ mx.svg('behance') }}
    </div>

{% endblock %}

