{% from "components/example.twig" import example %}

{# ENV #}
<div>
    {% if NODE_ENV == 'development' %}
        <strong style="font-size: 30px;">
            Env: {{ NODE_ENV }}
        </strong>
    {% endif %}
</div>
<div>
    {% if not IS_SERVER %}
        <strong style="font-size: 30px;">
            SERVER: {{ IS_SERVER }}
        </strong>
    {% endif %}
</div>

{# COMPONENT / LOOP #}
{% for item in exampleItems %}
    {{
        example({
            title: item.title,
            text: item.text
        })
    }}
{% endfor %}

{# RANGE LOOP #}
{% for num in range(0, 5) -%}
    <span>{{ num }} ({{ loop.index }}/{{ loop.length }}) {% if not loop.last %}, {% endif %}</span>
{%- endfor %}

{# INLINE SVG #}
<div style="width: 260px;">
    {{ inc.svg('rotate_device') }}
</div>
<div style="width: 70px;">
    {{ inc.svg('behance') }}
</div>


{# LAZYLOAD #}
{# img #}
<img class="js-lazy-img" src="{{ inc.pixel }}" data-src="img/features/1.jpg" alt="">

{# video #}
<video class="js-lazy-video" muted autoplay playsinline loop>
    <source data-src="videos/features/1.mp4" type="video/mp4">
</video>

{# bg #}
<section class="section">
    <div class="js-lazy-bg section__bg u-hidden-tablet" data-background-image="img/hero-bg.jpg"></div>
    <div class="js-lazy-bg section__bg u-visible-tablet u-hidden-mobile" data-background-image="img/hero-bg--tablet.jpg"></div>
    <div class="js-lazy-bg section__bg u-visible-mobile" data-background-image="img/hero-bg--mobile.jpg"></div>
</section>
